
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap'); 


ul li a{
    color: black;
    text-decoration: none;
    background-color: rgb(231, 233, 101);
}
ul{
    margin-left: -20px;
    background-color: rgb(231, 233, 101);
    
}
ul li{
    font-family: 'Source Sans Pro', sans-serif; 
    list-style: none;
    margin-bottom: 10px;
    border-bottom: 1px dotted #a7a5;
    padding-bottom: 10px;
    background-color: rgb(231, 233, 101);
}
.main-div{
    background-color: rgb(231, 233, 101);
    padding: 20px;
    width:300px;
    height: 350px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px #d8d8da;
}
#search-bar{
    padding: 10px;
    width:90%;
    margin-right: 10px;

}

